<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<style>
  a {
    text-decoration: none
  }
</style>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
  const token = localStorage.getItem('accessKey');
  $('a[id^=page-]').click(function () {
    const page = this.innerText();
    console.log(page);
    $.ajax(
      'http://localhost:3000/todo-list/list/1',
      {
        method: 'GET',
        headers: {
          accesstoken: token
        },
        success: function (data) {
          $('body').append(data);
        },
        error: function (jqXhr, textStatus, errorMessage) { // error callback
          console.log(errorMessage);// cho TH goi API ko thanh cong/url incorrect/timeout
        }
      }
    );
  });

  $.ajax(
    'http://localhost:3000/todo-list/list/1',
    {
      method: 'GET',
      headers: {
        accesstoken: token
      },
      success: function (data) {
        $('body').append(data);
      },
      error: function (jqXhr, textStatus, errorMessage) { // error callback
        console.log(errorMessage);// cho TH goi API ko thanh cong/url incorrect/timeout
      }
    }
  );

</script>

<body style="margin-left:50px ;">

</body>

</html>